<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Authentacator</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <h1>Login or Register</h1>

<div class="wrapper-1">
    <a href="login" id="login">Login Here</a>
    <a  href="register" id="register">Register Here</a>
</div>
</body>
</html>